# dependencies
node_modules

# build artifacts
/client/.react-router
/client/build
/server/dist

# deployment files
/server/public
/deployment

# docker files
Dockerfile
.dockerignore

# git files
.git
.gitignore
